/* For Better Design */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
    --text-black: black;
    --primary: rgb(4, 2, 32);
}

/* Typography, Width */

body {
    color: black;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: linear-gradient(to right top, #e5e5e5, #e7e8eb, #e7ebf1, #e5eff7, #e2f3fb);
}


a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

h1, h2, h3, h4, h5, p {
    padding: 1rem;
}

h1 {
    font-size: 25px;
}
.width {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.width-padding {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Navigation */

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;

}

.navigation-left {
    display: inline-block;
    left: 0px;
    top: 0px;
}

.navigation-right a {
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

/* Portfolio */

.portfolio {
    display: grid;
    grid-template-columns: 15% 75%;
    grid-gap: 1em;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.center {
    margin-right: auto;
    margin-left: auto;
}


/* Responsive */

@media (max-width: 898px) {
    .portfolio {
        display: inline-flex;
      flex-direction: column;
    }
    .width-padding {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  }

  .portfolio-images {
    width: 100%;
    max-width: 475px;
    height: auto;
  }

  /* Button */

  .portfolio-button {
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #fff;
    background-color: var(--primary);
  }

  .portfolio-button:hover {
    background: white;
    color: black;
    transition: all 0.15s ease-in-out 0s;
    border: 2px solid #000000;
  }


  /* two columns */

  .two-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .left-grid {
    grid-column: 1 / 2;
  }
  
  .right-grid {
    grid-column: 2 / 3;
  }
  
  @media (max-width: 898px) {
    .two-grid {
        display: inline-flex;
        flex-direction: column;
    }
  }

  
  .two-grid__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .two-images {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 10rem;
  }

  
  @media (max-width: 898px) {
    .two-grid__images {
        display: inline-flex;
        flex-direction: column;
    }
  }