/* For Better Design */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
    --text-black: black;
    --primary: rgb(4, 2, 32);
}

/* Typography, Width */

body {
    color: black;
    font-family: 'Inconsolata', monospace;
    height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    animation: gradient 15s ease infinite;
}


a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

h1, h2, h3, h4, h5, p {
    padding: 1rem;
}

h1 {
    font-size: 25px;
}
.width {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.width-padding {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Navigation */

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;

}

.navigation-left {
    display: inline-block;
    left: 0px;
    top: 0px;
}

.navigation-right a {
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

/* Portfolio */

.portfolio {
    display: grid;
    grid-template-columns: 15% 75%;
    grid-gap: 1em;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.center {
    margin-right: auto;
    margin-left: auto;
}


/* Responsive */

@media (max-width: 768px) {
    .portfolio {
      grid-template-columns: 1fr 1fr;
    }
  }

  .portfolio-images {
    width: 100%;
    max-width: 475px;
    height: auto;
  }

  .portfolio-button {
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #fff;
    background-color: var(--primary);
  }

  .portfolio-button:hover {
    background: white;
    color: black;
    transition: all 0.15s ease-in-out 0s;
    border: 2px solid #000000;
  }